/* ESTILO GERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: rgb(255, 255, 255);
    height: 100vh;
    overflow-x: hidden;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px; 
}

.flex {
    display: flex;
}

.btn-contato button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #A230A4;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    color: #fff;
}

h2.titulo {
    color: #0e2692;
    font-size: 38px;
    text-align: center;

}

h2.titulo span {
    color: #A230A4;
}

button:hover {
    box-shadow: 0px 0px 8px #A230A4;
    transform: scale(1.05);
    transition: .2s;


}



/* ESTILO DO CABEÇALHO */
header {
    padding: 40px 4%;
    transition: all 0.3s ease; /* Transição para suavizar a mudança */
    position: absolute; /* Inicialmente absoluto para não sobrepor conteúdo */
    width: 100%;
    background-color: transparent; /* Cor de fundo transparente */
    z-index: 9999;
    
}

/* Estilos para quando o menu estiver fixo */
header.fixed {
    position: fixed;
    background-color: #fff; /* Cor de fundo do menu fixo */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para dar destaque */
    

}


/* Mantendo os estilos originais */
header .interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

header a {
    color: rgb(121, 119, 119);
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header nav.menu-desktop a:hover {
    color: #000000;
    transform: scale(1.08);
}

header nav ul {
    list-style-type: none;
}

header nav.menu-desktop ul li {
    display: inline-block;
    padding: 0 40px;
    font-size: 18px
}

/* Estilos para o conteúdo abaixo do cabeçalho */
.content {
    margin-top: 100px; /* Adicione um espaçamento no topo */
    height: 1500px;
    padding-top: 100px; 

}


 


/* ESTILO DO TOPO DO SITE */
section.topo-do-site {
    padding: 180px 4%;

   
}



section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
    padding-top: 135px;
    padding-right: 1px;
}

.topo-do-site h1{
    color: #fff;
    font-size: 42px;
    line-height: 40px;
}


.topo-do-site .txt-topo-site h1 span{
    color: #8c00ff;
    font-size: 50px;
}


.topo-do-site .txt-topo-site p{
    color: #fff;
    margin: 40px 0;
}

.topo-do-site .img-topo-site img{
    position: relative;
    max-width: 150%;
    padding-right: 70px; 
    animation: flutuar 2s ease-in-out infinite alternate;
  
}

@keyframes flutuar{
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }
}


/* ESTILO DAS ESPECILIADDES */


section.especialidades{
    padding: 40px 4%;
}

section.especialidades .flex{
    gap: 60px;
}

.especialidades .especialidades-box{
    color: #fff;
    padding: 40px;
    border-radius: 20px;
    border: 2px solid rgb(92, 92, 92)070;
    margin-top: 45px;
    transition: .2s;
}

.especialidades .especialidades-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 8px #fff;

}



/* Estilo para a seção topo-do-site */
section.topo-do-site {
    margin-top: 0px; /* Ajuste o valor conforme necessário */
}

/*ESTILO MENU MOBILE */

.btn-abrir-menu{
    display: none;
}


.menu-mobile {
    background: #7F30E5;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    width: 0%;
    overflow: hidden;
    transition: .4s;
}

.menu-mobile nav ul {
    text-align: right;

}

.menu-mobile nav ul li a{
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    padding: 20px 8%;
    display: block;
}

.menu-mobile nav ul li a:hover{
    background-color: #ffffff;
    color: #000000;

}

.menu-mobile .btn-fechar i {
    color: #fff;
    font-size: 30px;


}

.menu-mobile .btn-fechar {
    padding: 20px 5%;
    

}

.btn-abrir-menu i{ 
    color: #A230A4;
    font-size: 40px;

}

.overlay-menu{

    background-color: #ffffff8e;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 88888;
    display: none;
}

.menu-mobile.abrir-menu{
    width: 70%;


}

.menu-mobile.abrir-menu ~ .overlay-menu {
    display: block;
}



/* ESTILO DO TOPO DO SITE */
section.topo-do-site {
    padding: 40px 4%;
}

section.topo-do-site .flex {
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site h1 {
    color: #A230A4;
    font-size: 42px;
    line-height: 40px;
}


.topo-do-site .txt-topo-site h1 span {
    color: #A230A4;
    font-size: 50px;
}


.topo-do-site .txt-topo-site p {
    color: #3230a4;
    margin: 40px 0;
}

.topo-do-site .img-topo-site img {
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;

}

@keyframes flutuar {
    0% {
        top: 0;
    }

    100% {
        top: 30px;
    }
}

/* ESTILO DAS ESPECILIADDES */


section.especialidades {
    padding: 40px 4%;
}

section.especialidades .flex {
    gap: 60px;
}

.especialidades .especialidades-box {
    color: rgb(17, 38, 129);
    padding: 40px;
    border-radius: 20px;
    border: 2px solid rgb(92, 92, 92)070;
    margin-top: 45px;
    transition: .2s;
}

.especialidades .especialidades-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 8px #A230A4;

}

.especialidades .especialidades-box i {
    /* COR INCONES */

    font-size: 70px;
    color: #A230A4;
}

.especialidades .especialidades-box h3 {
    font-size: 30px;
    margin: 15px 0;
}

/* ESTILO DO SOBRE */

section.sobre {
    padding: 80px 4%;
}

.sobre .txt-sobre {
    color: #3230a4;

}

section.sobre .flex {
    align-items: center;
    gap: 60px;
}


.sobre .txt-sobre h2 {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}

.sobre .txt-sobre h2 span {
    color: #A230A4;
    display: block;
}

.sobre .txt-sobre p {
    margin: 20px 0;
    text-align: justify;
}

.btn-social button {

    width: 60px;
    height: 60px;
    border-radius: 30px;
    border: 0;
    background-color: #A230A4;
    font-size: 22px;
    cursor: pointer;
    margin: 0 5px;
    transition: .2s;
}


/*
.img-sobre img {
    max-width: 500px; 
    height: auto; 
} */

/* CURSOS MAIS PROCURADOS */
section.portifolio {
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px #ffffff1a
}

section.portifolio .flex {
    justify-content: space-around;
    margin-top: 60px;
}

.img-port {
    width: 360px;
    height: 460px;
    background-color: #A230A4;
    background-size: cover;
    background-position: 100% 0%;
    transition: 2s;
    cursor: pointer;
    border-radius: 40px;
    position: relative;

}

.img-port:hover {
    background-position: 100% 100%;

}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000075;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    opacity: 0;
    transition: .5s;
}

.overlay:hover {
    opacity: 1;
}

/* FILTRO FORMULARIO */


section.formulario {
    padding: 80px 4%;
}

form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
}

form input {
    width: 100%;
    background-color: #a230a431;
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: #A230A4;
}

form .btn-contato {
    margin-top: 20px;
    text-align: center;
}



.select2-container .select2-selection--single {
    background-color: #a230a42d;
    border-radius: 5px;
    border: 0;
    outline: 0;
    height: 40px;
    padding-top: 5.5px;
  
    
}

form input::placeholder {

    /* aqui posso mudar a cor do fundo do formulario */
}


@media (max-width: 768px) {
    /* Definir uma largura máxima para o elemento */
    .select2-container--default {
      max-width: 100%; /* ou o valor desejado */
      width: auto !important;
    }
  }

/* RODAPÉ */

footer {
    padding: 40px 4%;
    box-shadow: 0 0 4px 10px rgba(126, 117, 117, 0.267);
}

footer .flex {
    justify-content: space-between;
}

footer .line-footer {
    padding: 20px 0;


}

footer .line-footer p i {
    color: #A230A4;
    font-size: 22px;
}

footer .line-footer p a {
    color: #A230A4;
}

.borda {
    border-top: 2px solid #A230A4;
}


/* RESPONSIVIDADE */



@media screen and (max-width: 1020px) {

    /* CLASSES GERAIS  */

     

    .flex {
        flex-direction: column-reverse;
    }

    h2.titulo {
        font-size: 34px;
        line-height: 30px;

    }

    /* CABEÇALHO  */

    .menu-desktop,
    .btn-contato {
        display: none;
    }

    /*TOPO DO SITE*/


    .btn-abrir-menu{
        display: block;
    }


    .topo-do-site h1 {

        font-size: 32px;

    }

    section.topo-do-site {
        padding: 20px 8%;
    }

    .topo-do-site .img-topo-site img {
        width: 100%;

    }

    section.topo-do-site .flex {
        gap: 40px;
    }

    /*ESPECIALIDADES */
    section.especialidades {
        padding: 40px 8%;
    }

    /*OBJETIVO */
    section.sobre {
        padding: 80px 8%;
    }

    .sobre .txt-sobre h2 {
        font-size: 34px;
        line-height: 35px;
        text-align: center;
    }

    .btn-social {
        text-align: center;
    }

    .img-sobre img {
        width: 100%;
    }

    /*CURSOS */
    section.portifolio {
        padding: 80px 8%;

    }

    .img-port {
        width: 100%;
        max-width: 360px;
        margin: 0 auto;
        height: 460px;

    }

    section.portifolio .flex {
        gap: 60px;
    }

    /*RODAPÉ */

    footer .flex {
        flex-direction: column;
        gap: 30px;
    }

    footer .line-footer {
        text-align: center;

    }
}




.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9999;
}

.modal {
    background-color: #fff;
    width: 80%;
    max-width: 600px;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    border-radius: 0%;
    
}

.modal {
    margin-top: 6px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    max-width: 610px; /* Reduzindo o tamanho máximo do formulário */
    width: 90%; /* Redimensionando a largura do formulário */
}

.modal h2 {
    margin-bottom: 15px;
    color: #A230A4;
}

.modal h5 {
    margin-bottom: 15px;
    color: #A230A4;
    margin: 0;
     text-align: center;
}

.modal label {
    display: block;
    margin-bottom: 1px;
    margin-top: -20px;
    text-align: left;
}

.modal input,
.modal textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

.modal button {
    padding: 10px 20px;
    background-color: #A230A4;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.modal button:hover {
    background-color: #d401d8;
}

.close-btn {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

.modal form {
    margin-top: 20px; /* Espaçamento entre o cabeçalho e o formulário */
}

header {
   
    position: fixed;
    z-index: 1; 
}

.overlay {
    top: 0;
    height: 100%;
    overflow-y: auto;
}

